* {
  --line-length: 50em;
  --accent: var(--green-6);
}
.green {
  color: var(--green-9);
}
.c {
  margin: auto;
}
.logo {
  font-size: 1.5em;
  font-weight: bold;
}
.page-list h3 {
  margin-bottom: calc(0.5 * var(--gap));
}

nav > ul {
  margin-right: auto;
}

/*nav a {
  color: var(--green-4);
}*/

chip > a {
  text-decoration: inherit;
  color: inherit;
}
/*forms*/

input[aria-invalid="true"] {
  border-color: var(--red-5);
}

.errorlist {
  margin: 0;
  list-style: none;
  color: var(--red-5);
}
