:root {
  --link-fg: var(--green-4);
  --line-length: 50em;
}
.green {
  color: var(--green-9);
}
.c {
  margin: auto;
}
.logo {
  font-size: 1.5em;
  font-weight: bold;
}

#buttonwrapper {
  margin-left: 0;
}

/*forms*/

input[aria-invalid="true"] {
  border-color: var(--red-5);
}

.errorlist {
  padding-left: 0 !important;
  margin: 0;
  list-style: none;
  color: var(--red-5);
}
