:root {
  --link-fg: var(--green-4);
}
.green {
  color: var(--green-9);
}
.c {
  margin: auto;
}
.logo {
  font-size: 1.5em;
  font-weight: bold;
}

/*forms*/

input[aria-invalid="true"] {
  border-color: var(--red-5);
}

.errorlist {
  list-style: none;
  color: var(--red-5);
}
