{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<h2>What is Unmodern Django?</h2>
<p>Unmodern is an attempt to free Django from purgatory of JSON APIs.
    It is inspired by the philosophy of the
    <a href="https://unmodernweb.com/philosophy">Unmodern Web</a>. The idea
    is not to go back to the old ways, but to take full advantage of the
    power of the modern
    <a href="https://en.wikipedia.org/wiki/Web_platform">web as a platform</a>.
    This site aims to assist those who want to build cutting-edge user experiences
    using Django, without merely using it as a backend service for a bloated,
    overly complex frontend.
</p>

<h2>But DRF and Ninja Framework are great!</h2>
<p>They are great! But they are not the <em>only</em> ways to build an application
    with Django. At the same time, nobody wants to return to the days of full page
    reloads and janky form interactions. Check out some of the
    <a href="{% url 'base:libraries' %}">libraries</a>
    and <a href="{% url 'patterns:index' %}">patterns</a> that make building
    modern web applications in Django possible.
</p>

<h2>A note on code blocks.</h2>
<p>This site is built with Django and as such all examples and demos are fully
    implemented in the actual code base. Code blocks display the current,
    live source files on Github. Thus they can be
    viewed as "windows" into the underlying source that makes up a page or
    function. For example, here are the first 5 lines of the template that
    renders this page:
    <prism-remote
        src="https://github.com/Fingel/unmoderndjango/blob/main/base/templates/base/index.html"
        lang="markup"
        start=1
        end=5>
    </prism-remote>
</p>
<p>
    This is accomplished using a custom element (a very unmodern approach!) written
    for use with this site. Check it out:
    <a href="https://github.com/Fingel/prism-remote">prism-remote on Github</a>.
</p>
{% endblock %}
