{% extends 'base/base.html' %}
{% block title %}Unmodern Libraries{% endblock %}
{% block content %}
<h1>Libraries</h1>
<h2 id="htmx">htmx</h2>
<img src="https://raw.githubusercontent.com/bigskysoftware/htmx/master/www/static/img/htmx_logo.1.png">
<p>
    htmx describes itself as <em>high power tools for HTML</em>. The core
    of the library is a set of attributes that can be used directly on
    HTML elements to perform
    <a href="https://en.wikipedia.org/wiki/Transclusion">transclusion</a>
    using ajax requests. The author is a strong proponent of the principles
    of <a href="https://en.wikipedia.org/wiki/HATEOAS">HATEOS</a>,
    <a href="https://en.wikipedia.org/wiki/REST">REST</a> and the power of
    <a href="https://en.wikipedia.org/wiki/Hypermedia">hypermedia</a> systems.
    The htmx website has many <a href="https://htmx.org/essays/">essays</a>
    on these subjects that supplement the technical documentation.
</p>
<p>
    <a href="https://htmx.org/">website</a> |
    <a href="https://htmx.org/docs/">documentation</a> |
    <a href="https://github.com/bigskysoftware/htmx">github</a>
</p>
{% endblock %}
